<ROOT>
<ODBC>
  <SERVER>69.64.87.104\THOR</SERVER>
  <DB>ELECTROREX</DB>
  <USER>sa</USER>
  <PWD>jesusesmipastor</PWD>
</ODBC>
<SUNAT>
	<USUARIO>20600337832FACTURA2</USUARIO>
	<CLAVESU>krx32aFF</CLAVESU>
</SUNAT>
<CERTIFICADO>
	<ARCHIVO>MPS20170524569772.pfx</ARCHIVO>
	<CLAVE>krx32akrx32a</CLAVE>
</CERTIFICADO>
<CLASE>
  <PORTAL>portal.factura.com.pe/corpora</PORTAL>
  <OFICINA>1</OFICINA>
</CLASE>
</ROOT>